.white {
    color: #ffffff;
}

.blue {
    color: #678CE0;
}

.grey {
    color: #666666;
}

.grey:hover {

}

.grey-bg {
    background-color: #eeeeee;
}

.grey-bg:hover {
    background-color: #eeeeee;
}