@import "bookmarks.css";

.searchbar {
    height: 500px;
    margin-bottom: 50px;
    padding: 220px 15px 140px;
    text-align: center;
}

.searchbar input {
    width: 100%;
    margin: auto 0;
    padding: 5px 15px;
    border: 0;
    line-height: 1.5em;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.welcome {
    min-height: 520px;
    text-align: center;
}

.welcome h1 {
    font-family: 'Cambria', serif;
    font-size: 45pt;
    font-weight: bold;
    text-decoration: underline;
    padding: 100px 0 30px;
}

.welcome h3 {
    font-size: 26pt;
}